@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #d95f69;
            box-shadow: 0 0 0 0 #d95f69;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #d95f69;
            box-shadow: 0 0 0 0 #d95f69;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
            transform: translate(-50%, -50%) rotate(405deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
            transform: translate(-50%, -50%) rotate(405deg);
  }
}

html, body {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-size: 1rem;
  line-height: 1.3;
  width: 100%;
  background-color: #e5e5ee;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 1.2rem;
}

a:hover {
  color: #F2E18D;
}

span {
  font-size: 1.2rem;
}

.right {
  float: right;
}

.container {
  max-width: 67.5rem;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.header-google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-title {
  color: #fff;
  font-weight: bold;
}

.header-btn {
  padding: 0.75rem;
  background-color: #D95F69;
  border-radius: 0.3rem;
  border: none;
  color: #F2F2F2;
  font-weight: 600;
  font-size: 1rem;
  -webkit-box-shadow: 0 0 0 16px rgba(217, 95, 105, 0);
          box-shadow: 0 0 0 16px rgba(217, 95, 105, 0);
}

.header-btn:hover {
  cursor: pointer;
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

.header-cart {
  padding: 0.75rem 1.5rem;
  margin-right: 0.5rem;
  background: #BFB99B;
  border-radius: 0.3rem;
  border: none;
  color: #F2F2F2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-cart-shop {
  -webkit-transform: scale(0);
          transform: scale(0);
  margin-right: -2.5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-cart-search {
  margin-right: -4.3rem;
}

.header-cart:hover .header-cart-shop {
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-right: 0.5rem;
}

@media (max-width: 26.25em) {
  .header-cart:hover .header-cart-shop {
    -webkit-transform: scale(0);
            transform: scale(0);
    margin-right: -2.5rem;
  }
}

@media (max-width: 26.25em) {
  .header-cart:hover .header-cart-search {
    -webkit-transform: scale(0);
            transform: scale(0);
    margin-right: -4.3rem;
  }
}

.products {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

@media (max-width: 26.25em) {
  .products {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.products-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products-menu-item {
  padding: 1.25rem 0;
  font-size: 1.1rem;
  font-weight: 800;
  position: relative;
}

.products-menu-item::after {
  content: '';
  width: 5px;
  height: 100%;
  background: #F2E18D;
  position: absolute;
  -webkit-transition: width 0.3s 0.3s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.3s cubic-bezier(1, 0, 0, 1);
  transition: width 0.3s 0.3s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.3s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1), width 0.3s 0.3s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1), width 0.3s 0.3s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.3s cubic-bezier(1, 0, 0, 1);
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.products-menu-item:hover {
  color: #000;
}

.products-menu-item:hover::after {
  width: 60%;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@media (max-width: 63.9375em) {
  .products-menu-item:hover::after {
    width: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@media (max-width: 26.25em) {
  .products-menu-item:hover::after {
    width: 0;
  }
}

@media (max-width: 26.25em) {
  .products-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-list-description {
  font-size: 1.2rem;
  color: #BFB99B;
}

.products-list-description > p {
  margin-top: 0;
}

.products-list-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background-color: #fff;
  min-width: 20rem;
  border: 3px solid #F2F2F2;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 8px  #999;
          box-shadow: 0 5px 8px  #999;
  margin-bottom: 3rem;
}

@media (max-width: 26.25em) {
  .products-list-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.products-list-image img {
  width: 100%;
  border-radius: 5px;
  height: 24rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-list-content {
  padding: 1.25rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-list-header {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.products-list-btn {
  padding: 0.75rem 1.4rem;
  border: none;
  background-color: #BFB99B;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.products-list-btn:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.products-page {
  width: 100%;
}

.products-page > span {
  border: 1px solid #000;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
}

.products-page > span:not(:first-child) {
  margin-left: 1.2rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

.cards-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-btn {
  font-size: 1rem;
  border: 1px solid #000;
  padding: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.cards-btn:last-child {
  margin-right: 1rem;
}

.cards-btn:hover {
  background-color: #D95F69;
  color: #F2F2F2;
}

.card {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 20rem;
  border: 1px solid #BFB99B;
  border-radius: 5px;
  margin-right: 1.3rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 0 2px #797575;
          box-shadow: 0 0 2px #797575;
}

@media (max-width: 26.25em) {
  .card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.card-content {
  padding: 0.75rem 1rem;
}

.card-img {
  width: 2.5rem;
  height: auto;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-name {
  margin-bottom: 1rem;
  color: #BFB99B;
  font-size: 1rem;
}

.card-btn {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-btn > .btn {
  width: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 1.3rem;
  line-height: 1.4;
  -webkit-transition: 1s;
  transition: 1s;
}

.card-btn-red {
  border: 3px solid #F29544;
  border-right: none;
}

.card-btn-red:hover {
  -webkit-box-shadow: inset 0 0 0 2.5em #F29544;
          box-shadow: inset 0 0 0 2.5em #F29544;
  color: #F2F2F2;
}

.card-btn-yellow {
  border: 3px solid #F2E18D;
}

.card-btn-yellow:hover {
  -webkit-box-shadow: 0 0 0 2.5rem #F2E18D inset;
          box-shadow: 0 0 0 2.5rem #F2E18D inset;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  counter-reset: num;
}

.step-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 0.5rem;
}

.step-content::before {
  counter-increment: num;
  content: counter(num);
  font-size: 2rem;
  font-weight: bold;
}

.step-content-area {
  margin-left: 1rem;
}

.step-item {
  border: 2px solid #ccc;
  padding: 12px 16px;
}

.step-item.active {
  background-color: #e5e5ee;
}

.step-item.completed {
  background: #fff;
}

.step-item.completed:first-child::after {
  border-left: 10px solid #fff;
}

.step-item.completed .step-content::before {
  content: '\2714';
  color: #F29544;
}

.step-item:first-child {
  position: relative;
}

.step-item:first-child::before {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid #ccc;
}

.step-item:first-child::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #e5e5ee;
}

.step-item + .step-item {
  border-left: none;
}

.form {
  padding: 1rem;
}

.form-title {
  border-bottom: 1px solid #e5e5ee;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
}

.form-row {
  margin: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-row > .form-column {
  width: 49%;
}

.form-row > .form-column > input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e5e5ee;
}

.form-error-name {
  color: #D95F69;
  font-weight: 800;
}

.form-select {
  margin-top: 0.5rem;
  display: block;
  padding: 0.5rem;
  border: 1px solid #e5e5ee;
  width: 100%;
}

.form-button {
  margin-top: 0.5rem;
  padding: 0.75rem;
  border-radius: 0.3rem;
  border: 1px solid #BFB99B;
  cursor: pointer;
  background: transparent;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.form-button::before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background-color: #BFB99B;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
}

.form-button:hover {
  color: #fff;
}

.form-button:hover::before {
  width: 100%;
}

.payment-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
  border: none;
  border: 2px solid #F29544;
  background: transparent;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.payment-btn:hover {
  -webkit-box-shadow: 5rem 0 0 0 #F29544 inset, -5rem 0 0 0 #F29544 inset;
          box-shadow: 5rem 0 0 0 #F29544 inset, -5rem 0 0 0 #F29544 inset;
}

.payment-btn:first-child {
  margin-right: 0.8rem;
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.loading-time {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 12px solid rgba(0, 0, 0, 0.4);
}

.loading-item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border-width: 12px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  -webkit-animation: rotate 1s infinite linear;
          animation: rotate 1s infinite linear;
}

.loading-text {
  position: absolute;
  top: 63%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-size: 1.2rem;
}

.slider {
  position: relative;
  padding: 2rem 0;
}

@media (max-width: 87.4375em) {
  .slider {
    margin: 0 auto;
  }
}

.slider-left {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  border-radius: 50%;
  font-size: 3rem;
  border: none;
  text-align: center;
  color: #fff;
  cursor: pointer;
  z-index: 50;
}

@media (max-width: 26.25em) {
  .slider-left {
    font-size: 2rem;
  }
}

.slider-right {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  border-radius: 50%;
  font-size: 3rem;
  border: none;
  color: #fff;
  cursor: pointer;
  z-index: 50;
}

@media (max-width: 26.25em) {
  .slider-right {
    font-size: 2rem;
  }
}

.slider-img {
  width: 100%;
  height: 600px;
  border-radius: 5px;
}

@media (max-width: 26.25em) {
  .slider-img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0px;
    height: 400px;
  }
}

.slider-item {
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.slider-item-active {
  opacity: 1;
  -webkit-transition: .8s;
  transition: .8s;
}

.icon {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-item {
  width: 8.75rem;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  cursor: pointer;
}

.icon-item:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.icon-item > img {
  width: 100%;
}

.ac {
  padding: 4rem 1rem;
}

.ac-item {
  padding: 0.75rem;
  margin: 0 auto;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
}

.ac-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ac-active {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.ac-active.ac-content {
  margin-top: 0.5rem;
}

.ac-hidden {
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.ac-content {
  font-size: 18px;
  line-height: 1.5;
}

.accordion {
  background: radial-gradient(#fff, #F2F2F2);
}
/*# sourceMappingURL=style.css.map */