@keyframes pulse{
    0%{
        
        box-shadow: 0 0 0 0 rgba($red,1);
    }
    
}

@keyframes rotate{
    0%{
        transform: translate(-50%,-50%) rotate(45deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(405deg);
    }
}