@import './variable';
@import './mixin';
@import './animation';
html,body{
    font-size: 100%;
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    user-select: none;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1rem;
    font-size: 1rem;
    line-height: 1.3;
    width: 100%;
    background-color: #e5e5ee;
}
a{
    color:#000;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    font-size: 1.2rem;
    &:hover{
        color:$yellow;
    }
}

span{
    font-size: 1.2rem;
}

.right{
    float: right;
}
.container{
    max-width: 67.5rem;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    padding:1rem 0;
    align-items: center;
    color:#fff;
    &-google{
        display: flex;
    }
    &-title{
        color: #fff;
        font-weight: bold;
    }
    &-btn{
        padding:0.75rem;
        background-color: $red;
        border-radius: 0.3rem;
        border:none;
        color:$silver;
        font-weight: 600;
        font-size: 1rem;
        box-shadow: 0 0 0 16px rgba($red,0);
        
        &:hover{
            cursor: pointer;
            animation: pulse 1s;
        }
    }


    &-cart{
        padding:0.75rem 1.5rem;
        margin-right: 0.5rem;
        background: $gray;
        border-radius: 0.3rem;
        border:none;
        color:$silver;
        text-align: center;
        display: flex;
        position: relative;
        &-shop{
          transform: scale(0);
          margin-right: -2.5rem;
          transition: .3s;
        }
        &-search{
           margin-right: -4.3rem;
        }
        &-count{
            color:#eee;
            font-weight: bold;
            font-size: 20px;
            position: absolute;
            top:2px;
            right: 8px;
        }
        &:hover &-shop{
          transform: scale(1);
          margin-right: 0.5rem;
        }

        @include breakpoint-down(xsmall){
            &:hover &-shop{
                transform: scale(0);
                margin-right: -2.5rem;
              }
        }
        @include breakpoint-down(xsmall){
            &:hover &-search{
                transform: scale(0);
                margin-right: -4.3rem;
              }
        }

    }
}


//products
.products{
    padding:1rem ;
    display: grid;
    grid-template-columns: 1fr 4fr;

    @include breakpoint-down(xsmall){
        grid-template-columns: 1fr;
    }


    &-menu{
        display: flex;
        flex-direction: column;
        &-item{
            padding:1.25rem 0;
            font-size: 1.1rem;
            font-weight: 800;
            position: relative;
            //hover效果
            &::after{
                content: '';
                width: 5px;
                height: 100%;
                background: $yellow;
                position: absolute;
                transition: transform  .3s cubic-bezier(1,0,0,1),width  .3s .3s  cubic-bezier(1,0,0,1);
                top:0;
                left: 0;
                z-index: -1;
                transform: scaleY(0);
            }
            &:hover{
                color:#000;
                &::after{
                    width: 60%;
                    transform: scaleY(1);
                }
                @include breakpoint-down(medium){
                    &::after{
                        width: 0;
                        transform: scaleY(0);
                    }
                }
            }

            @include breakpoint-down(xsmall){
                &:hover{
                    &::after{
                        width: 0;
                    }
                }
            }
        }
        @include breakpoint-down(xsmall){
            flex-direction: row;
            justify-content: space-between;
        }
    }


    &-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-description{
            font-size: 1.2rem;
            color:$gray;
            > p{
                margin-top: 0;
            }
        }
        &-item{
            flex-basis: 30%;
            background-color: #fff;
            min-width: 20rem;
            border-radius: 5px;
            box-shadow: 0 5px 8px  #999;
            margin-bottom: 3rem;
            @include breakpoint-down(xsmall){
                flex-basis: 100%;
            }
        }

        &-image{
            img{
            display: block;
            width: 100%;
            border-radius: 5px;
            height: 24rem;
            object-fit: cover;
            }
        }
        &-content{
            padding: 1.25rem 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-header{
            font-size: 1.4rem;
            margin-bottom: 0.4rem;
        }


        &-btn{
            padding:0.75rem 1.4rem;
            border:none;
            background-color: $gray;
            border-radius: 5px;
            cursor: pointer;
            transition: .3s ease-in-out;
            &:hover{
                transform: scale(1.08);
            }
        }
    }

    &-page{
        width: 100%;
       & >span{
           border:1px solid #000;
            width: 2.5rem;
            height: 2.5rem;
            display: inline-block;
            line-height: 2.5rem;
            text-align: center;
            cursor: pointer;
            &:not(:first-child){
                margin-left: 1.2rem;
            }
       }
    }
}



//cart
.cards{
    display: flex;
    flex-wrap: wrap;
    padding:1rem;
    &-flex{
        justify-content: space-between;
    }

    &-btn{
        font-size: 1rem;
        border: 1px solid #000;
        padding: 0.75rem;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;
        transition: .3s;
        &:last-child{
            margin-right: 1rem;
        }

        &:hover{
            background-color: $red;
            color:$silver;
        }
    }
}
.card{
    flex-basis: 30%;
    min-width: 20rem;
    border:1px solid $gray;
    border-radius: 5px;
    margin-right: 1.3rem;
    margin-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 0 2px rgb(121, 117, 117);
    @include breakpoint-down(xsmall){
        flex-basis: 100%;
    }
    &-content{
        padding: 0.75rem 1rem ; 
    }
    &-img{
        width: 2.5rem;
        height: auto;
    }
    &-title{
        font-size: 1.25rem;
        font-weight: bold;
    }
    &-name{
        margin-bottom:1rem;
        color:$gray;
        font-size: 1rem;
    }

    &-btn{
        border-top: 1px solid rgba(0,0,0,0.2);
        display: flex;

        >.btn{
            width: 50%;
            text-align: center;
            cursor: pointer;
            font-size: 1.3rem;
            line-height: 1.4;
            transition:1s;
        }
        &-red{
            border:3px solid $orange;
            border-right: none;

            &:hover{
                box-shadow: inset 0 0 0 2.5em $orange;
                color:$silver;
            }
        }
        &-yellow{
            border:3px solid $yellow;
            &:hover{
                box-shadow: 0 0 0  2.5rem $yellow inset;
            }
        }
    }
}



//step
.step{
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
    counter-reset: num;
    &-content{
        display: flex;
        flex-direction: row;
        padding: 0 0.5rem;
        &::before{
            counter-increment: num ;
            content: counter(num);
            font-size: 2rem;
            font-weight: bold;
        }


        &-area{
            margin-left: 1rem;
        }
    }
    &-item{
        border:2px solid #ccc;
        padding: 12px 16px;
        
        &.active{
            background-color: #e5e5ee;
        }
        &.completed{
            background: #fff;
            &:first-child{
               &::after{
                    border-left: 10px solid #fff;
                }
            }

            .step-content{
                &::before{
                   content: '\2714';
                   color:$orange;
                }
            }
        }
        &:first-child{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                left: 100%;
                top:50%;
                transform: translateY(-50%);
                border-top: 13px solid transparent;
                border-bottom: 13px solid transparent;
                border-left: 13px solid #ccc;
            }
            &::after{
                content: '';
                position: absolute;
                left: 100%;
                top:50%;
                transform: translateY(-50%);
                border-top: 10px solid transparent;
                border-bottom:10px solid transparent;
                border-left: 10px solid #e5e5ee;
            }
        }
    }


    &-item + &-item{
        border-left: none;
    }
    
    
}


//Address
.form{
    padding: 1rem;
    flex:100%;
    &-title{
        border-bottom: 1px solid #e5e5ee;
        padding-bottom: 0.5rem;
        font-size: 1.4rem;
    }

    &-row{
        margin: 0.5rem 0;
        display: flex;
        justify-content: space-between;
        &>.form-column{
            width: 49%;


            & > input{
                width: 100%;
                padding: 0.5rem;
                border:1px solid #e5e5ee
            }
        }
    }


    &-error-name{
        color: $red;
        font-weight: 800;
    }

    &-select{
        margin-top: 0.5rem;
        display: block;
        padding: 0.5rem;
        border:1px solid #e5e5ee;
        width: 100%;
    }

    &-button{
        margin-top: 0.5rem;
        padding: 0.75rem;
        border-radius: 0.3rem;
        border:1px solid $gray;
        cursor: pointer;
        background: transparent;
        position: relative;
        transition: .3s;

        &::before{
            content: '';
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            width: 0;
            background-color: $gray;
            transition: .3s;
            z-index: -1;
        }

        &:hover{
            color:#fff;
            &::before{
              width: 100%;
            }
        }
    }
}


.payment-btn{
      padding: 0.8rem 1.5rem;
      border-radius: 0.3rem;
      border:none;
      border:2px solid $orange;
      background: transparent;
      cursor:pointer;
      transition: .5s;
      &:hover{
        box-shadow: 5rem 0 0 0 $orange inset,-5rem 0 0 0 $orange inset ;
      }
      &:first-child{
          margin-right: 0.8rem;
      }
}


//loading
.loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.6);

    &-time{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border:12px solid rgba(0,0,0,0.4);
    }

    &-item{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border-width: 12px;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
        animation: rotate 1s infinite linear;
    }

    &-text{
        position: absolute;
        top:63%;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-size: 1.2rem;
    }
}

//slider
.slider{
    position: relative;
    padding: 2rem 0;
    @include breakpoint-down(large){
        margin: 0 auto;
    }
    &-left{
        position: absolute;
        left:0;
        top:50%;
        transform: translateY(-50%);
        background: transparent;
        border-radius: 50%;
        font-size: 3rem;
        border:none;
        text-align: center;
        color:#fff;
        cursor: pointer;
        z-index: 50;
        @include breakpoint-down(xsmall){
            font-size: 2rem;
        }
    }
    &-right{
        position: absolute;
        right: 0;
        top:50%;
        transform: translateY(-50%);
        background: transparent;
        border-radius: 50%;
        font-size: 3rem;
        border:none;
        color:#fff;
        cursor: pointer;
        //因為後面圖片動畫時間為1s,圖片會蓋住按鈕,所以需要把按鈕的位層設高
        z-index: 50;
        @include breakpoint-down(xsmall){
            font-size: 2rem;
        }
    }
    &-img{
        width: 100%;
        height: 600px;
        border-radius: 5px;
        @include breakpoint-down(xsmall){
            object-fit: cover;
           border-radius: 0px;
            height: 400px;
        }
    }

    &-item{
      opacity: 0;
      transition: .8s;
      &-active{
         opacity: 1;
         transition: .8s;
      }
    }
}


//icon
.icon{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    &-item{
        width: 8.75rem;
        filter: grayscale(100%);
        cursor: pointer;
        &:hover{
            filter: grayscale(0);
        }
        & > img{
            width: 100%;
        }
    }
}

//accordion
.ac{
    padding:4rem 1rem;
    &-item{
        padding:0.75rem;
        margin: 0 auto;
        border-bottom:2px solid #ccc;
        cursor: pointer;
    }
    &-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-active{
        opacity: 1;
        transition: .5s;
        &.ac-content{
            margin-top:0.5rem;
        }
    }

    &-hidden{
        opacity: 0;
        transition: .5s;
    }

    &-content{
        font-size: 18px;
        line-height: 1.5;
    }
}
.accordion{
    background: radial-gradient(#fff,$silver);
}

.module{
    position: fixed;
    background-color: #000;
    z-index: 1;
    color:#fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top:40vh;
    right:1rem;
    padding:.8rem 1rem;
}
